- cycle :even, :odd, :name => :style

.title
  .score
    YOUR SCORE IS
    %span= @compass['current']['score']
  .time
    - hours, minutes, seconds = get_hours_minutes_and_seconds @compass['current']['time']
    == #{two_number_format hours}<span>h</span>:#{two_number_format minutes}<span>m</span>:#{two_number_format seconds}<span>s</span>
  .action_area
    .place
      == YOU ARE IN #{number_to_ordinal @compass['current']['position']} PLACE
    .persona_play_again
      -#
        = form_for :persona, :html => { :class => 'enter_persona' } do |form|
          .text_field_bg
            = form.text_field :persone
      = link_to 'play again', compass_path, :class => 'button play_again'
      .clear
%table
  %tr.hr
    %th RANK
    %th PERSONA
    %th PTS
    %th TIME
  - @compass["highscore"].each_with_index do |score, i|
    %tr{ :class => "#{get_cycle(:style)} #{('current' if score['session_id'].eql?(@compass['current']['session_id']))}" }
      %td= number_to_ordinal i + 1
      %td= score['session_id'][0..7]
      %td.pts
        %span.zero_pts= ('0' * ( 7 - score['count'].to_s.size ))
        %span.dynamic_pts= score['count']
      %td.time
        - hours, minutes, seconds = get_hours_minutes_and_seconds score['time']
        %span= two_number_format hours
        %span.colon :
        %span= two_number_format minutes
        %span.colon :
        %span= two_number_format seconds
.footer_pts
  .footer_pts_content
    %span
      YOU DON'T HAVE ANTY PTS
    = link_to 'buy 10 now', '#', :class => 'button buy_10_now'
    .clear

