- unless params[:substrate_id].blank? or params[:weave_id].blank?
  = hidden_field_tag 'entry_point_substrate_id', params[:substrate_id]
  = hidden_field_tag 'entry_point_weave_id', params[:weave_id]
.image{ :'data_finish_url' => finish_url }
#click_area
  - 1.upto(3).each do |i|
    %div{:class => "area_#{i} area top", 'data-id' => i}
      .bg
  - 4.upto(6).each do |i|
    %div{:class => "area_#{i} area middle", 'data-id' => i}
      .bg
  - 7.upto(9).each do |i|
    %div{:class => "area_#{i} area bottom", 'data-id' => i}
      .bg
