.title
  .ran_out_of_time
  .action_area 
    .tip
      TIP... YOU ONLY HAVE 3 SECONDS PER IMAGE
    = link_to 'play again', compass_path, :class => 'button play_again'
%table
  %tr.hr
    %th XP
    %th RANK
    %th PERSONA
    %th PTS
    %th TIME
  - Compass.highscore.each_with_index do |score, i|
    %tr
      %td.xp
        %span= i
      %td 1st
      %td= score[0][0..7]
      %td.pts
        %span.zero_pts= ('0' * ( 7 - score[1].to_s.size ))
        %span.dynamic_pts= score[1]
      %td.time
        %span 01
        %span.colon :
        %span 23
        %span.colon :
        %span 45
.footer_pts
  .footer_pts_content
    %span
      YOU DON'T HAVE ANTY PTS
    = link_to 'buy 10 now', '#', :class => 'button buy_10_now'
    .clear

