!!!
%body{:id => "body_#{controller_name}", :class => "body_#{controller_name}_#{action_name}" }
  %head
    %title Nerve Synapse
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    :plain
      <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica' rel='stylesheet' type='text/css'>

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26904869-4']);
      _gaq.push(['_setDomainName', 'nervesynapse.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  #wrapper
    %h1#logo
      = link_to 'Nerve Synapse', root_path
    #container
      = yield
  = yield :body_bottom
