!!!
%body{:id => "body-#{controller_name}", :class => "body-#{controller_name}-#{action_name}" }
  %head
    %title Nerve Synapse
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %h1#logo
    = link_to 'Nerve Synapse', root_path
  #wrapper
    #container
      = yield
